:root {
  --primary-color: #f27a1a;
  --account-link-color: #333;
  --account-link-hover-color: var(--primary-color);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.header-links a {
  color: #999999;
  font-size: 12px;
}
.header-links a:hover {
  color: #666666;
}

.logo-search-account-container {
  display: grid;
  grid-template-columns: 140px 1fr 335px;
  margin-top: 10px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 42px;
  background-color: #f3f3f3;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #f3f3f3;
  border-bottom: none;
  position: relative;
}

.search:focus-within {
  border: 1px solid var(--primary-color);
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  font-size: 12px;
}

.search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search button {
  background: none;
  border: none;
}
.search-history-container {
  display: none;
}

.search:focus-within .search-history-container {
  display: block;
  position: absolute;
  background-color: #fff;
  width: 100.3%;
  height: 167px;
  top: 41px;
  left: -1px;
  border: 1px solid var(--primary-color);
  z-index: 2;
}

.search-history-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 18px;
  font-size: 12px;
}
.search-history-container-header h6 {
  color: var(--primary-color);
  font-size: 12px;
  margin: 12px 0;
}
.search-history-container-header a {
  color: #333;
}

.search-history-container ul {
  margin: 0;
  padding-left: 18px;
  font-size: 12px;
}
.search-history-container ul li {
  margin-bottom: 5px;
  color: #333;
}
.search-history-container ul li a {
  color: #333;
}

.account-list {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 12px;
  height: 100%;
  margin: 0;
}
ul.account-list > li {
  height: 100%;
  display: flex;
}

.account-list li a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--account-link-color);
}

.account-list li a:hover {
  color: var(--primary-color);
}

.account-list li a:hover svg path {
  fill: var(--account-link-hover-color);
}

.user-menu {
  display: none;
  width: 170px;
  height: 289px;
  padding: 15px 10px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
}

.account-list li:first-child {
  color: var(--primary-color);
}
.account-list li:hover {
  position: relative;
}
.account-list li:hover .user-menu {
  display: block;
  position: absolute;
  top: 90%;
  left: -60px;
  cursor: pointer;
  z-index: 2;
}
.user-menu li {
  margin-bottom: 15px;
}

.header-tabs-navigation {
  border-bottom: 1px solid #e8e8e8;
}

.header-tabs {
  display: flex;
  justify-content: space-between;
  padding: 0;
  /* padding-left: 23px; */
  margin-top: 30px;
  position: relative;
}

.header-tabs li {
  padding: 2.5px 20px;
  z-index: 1;
}
.header-tabs li:hover {
  box-shadow: inset 0 -2px var(--primary-color);
}

.header-tabs li a {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.header-tabs li:hover a {
  color: var(--primary-color);
}

.header-tabs li .sub-nav {
  display: none;
  position: absolute;
  width: 1085px;
  height: 360px;
  left: 0;
  top: 26px;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.header-tabs li:hover .sub-nav {
  display: flex;
  padding: 25px 30px 0 25px;
  justify-content: space-between;
}

.header-tabs li:hover .sub-nav-list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.header-tabs li:hover .sub-nav-list-item {
  padding: 0;
  margin: 0;
  box-shadow: none;
}
.header-tabs li:hover .sub-nav-list-item img {
  margin-bottom: 20px;
}

.header-tabs li:hover .sub-nav-list-item a {
  color: #666;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 13px;
}
.header-tabs li:hover .sub-nav-list-item:first-child a {
  color: #333;
  font-size: 15px;
}

.header-tabs li:hover .sub-nav-list-item a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.circled-slider {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  margin-top: 30px;
  text-align: center;
}
.circled-slider a {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.circled-slider a p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #333;
}

.main-sections {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 750px 20px 330px;
  padding-top: 20px;
}

.main-sections div {
}

.left-first-section {
  background: #c4c4c4;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 750px;
  height: 340px;
}
.left-second-section {
  background: #c4c4c4;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 750px;
  height: 340px;
}

.right-first-section {
  background: #c4c4c4;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 330px;
  height: 330px;
  margin-bottom: 40px;
}

.right-second-section {
  background: #c4c4c4;
  grid-column-start: 3;
  grid-column-end: 4;
  width: 330px;
  height: 330px;
}

.alt-alan {
  grid-column-start: 2;
  grid-column-end: 4;
  background: springgreen;
}

.left-first-section,
.left-second-section {
  position: relative;
  cursor: pointer;
}

.left-first-section:hover,
.left-second-section:hover {
  border: 1px solid #ff671d;
}

.left-first-section:hover .bottom-navbar,
.left-second-section:hover .bottom-navbar {
  background: #ff671d;
}

.main-sections .bottom-navbar {
  position: absolute;
  bottom: 0;
  padding: 6px 33px 6px 18px;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: black;
  transition: all 0.4s;
}

.main-sections p {
  margin: 0;
}

.main-sections a {
  margin: 0;
  color: white;
  font-size: 14px;
}

.main-sections .left-arrow {
  margin-left: 7px;
}

.main-sections .start-shop {
  display: flex;
  align-items: center;
}
